*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFC6FB;
  font-family: "Lobster", cursive;
}

.logo {
  margin: 0;
}

/* ===========================
    Navbar styling
   ===========================
*/
header {
  background: #FFC6FB;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 40;
}

.title,
h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

.logo {
  color: #CF156F;
  font-weight: 900;
}

.nav-toggle {
  display: none;
  transition: 1s;
}

.nav-toggle-label {
  position: absolute;
  top: 8px;
  padding: 0.5rem;
  display: block;
}

.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before {
  display: block;
  position: relative;
  background: #CF156F;
  height: 2px;
  width: 1em;
}

.nav-toggle-label span::before {
  position: absolute;
  content: "";
  top: 5px;
}

.nav-toggle-label span::after {
  position: absolute;
  content: "";
  bottom: 5px;
}

nav {
  position: absolute;
  background: #FFC6FB;
  width: 100%;
  font-family: "Questrial", sans-serif;
  /* Scale(1,0) means to keep width at 1(100%) and the
     height at 0 so it's hidden starting out;
     This code in lieu of a display: none and display: block toggle
  */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 500ms ease-in-out;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
nav li {
  margin-left: 1em;
  margin-bottom: 1em;
}
nav a {
  color: #CF156F;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #F597C4;
}

/*
  If the nav toggle is checked and there is any preceeding nav sibling
*/
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.my-page-section1 {
  display: relative;
  height: 100%;
  background-color: #FFC6FB;
  background: url("./../images/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  font-family: "Questrial", sans-serif;
}
.intro .intro-img {
  width: 70%;
  margin: 60px 50px 0;
}
.intro .intro-p {
  font-size: 1rem;
}

.my-page-section2 {
  background-color: #FFC6FB;
  display: block;
  margin: 5rem;
}
.my-page-section2 .cake {
  margin: 0 auto;
}
.my-page-section2 .cake-image {
  height: 200px;
  width: 200px;
}
.my-page-section2 .cake-info {
  max-width: 200px;
  font-family: "Questrial", sans-serif;
  font-size: 0.5rem;
}
.my-page-section2 .cake-button {
  font-family: "Questrial", sans-serif;
  background: #FFC6FB;
  border-radius: 5%;
}

/*
  ==================================================================
  Large displays
  ==================================================================
*/
@media (min-width: 600px) {
  body {
    margin: 0;
    background-color: #FFC6FB;
    font-family: "Lobster", cursive;
  }

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    /* 1fr == fraction of available space/% of avail space
       below makes four columns
         1. One leftover space on the left side of page
         2. Auto the next column which is the logo
         3. minmax(min, max)
         4. One leftover space on the right of webpage

    */
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }

  .logo {
    grid-column: 2/3;
  }

  nav {
    grid-column: 3/4;
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Questrial", sans-serif;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin: 5px 10px;
  }
  nav a {
    opacity: 1;
  }

  .my-page-section1 {
    height: 100%;
    background-color: #FFC6FB;
    background: url("./../images/bg4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
  }

  .intro {
    /* Need this to prevent scrolling with background
       rolling behind the navbar
    */
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 300px 1fr;
    align-items: center;
  }
  .intro .title {
    margin: 0 auto;
    font-size: 2.6rem;
  }
  .intro .intro-img {
    width: 80%;
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .intro .intro-p {
    margin: 0 auto;
    grid-column: 2/-1;
    grid-row: 1/3;
    max-width: 500px;
    text-align: justify;
    font-size: 1rem;
  }

  .my-page-section2 {
    background-color: #FFC6FB;
    display: inline;
    justify-content: center;
    margin: 5rem;
  }
  .my-page-section2 .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
  }
  .my-page-section2 .cake {
    margin: 0 auto;
  }
  .my-page-section2 .cake-image {
    height: 200px;
    width: 200px;
  }
  .my-page-section2 .cake-info {
    text-align: center;
    max-width: 200px;
    font-family: "Questrial", sans-serif;
    font-size: 0.5rem;
  }
  .my-page-section2 .cake-button {
    margin: 0 auto;
    font-family: "Questrial", sans-serif;
    background: #FFC6FB;
    border-radius: 5%;
  }
}

/*# sourceMappingURL=index.css.map */
